.fuse_hidden*
.*.swo
.*.swp
*.o
*.pdb
*.a
*.so
*.so.*
*.lib
*.i
*.d
*.plist
*.pb.cc
*.pb.h
*_pb2.py
CMakeCache.txt
CMakeFiles
cmake_install.cmake
.cache/
compile_commands.json
cscope.*
tags
.vs
.vscode
gccdump.s
<stdin>.s
__pycache__
*.pyc
.~*

# ---- Project-specific rules below ----

__ver__.mk
u-boot.mk
zImage.old
*.out
logs
*.log
.build
_tmp_
*.tmp
*.dat
*.bk
*.bak
bin/
obj/
*_defconfig.old
.*_defconfig
*.old.dtb
*.pretty.dts
uboot-*.tar.gz

